<div>
    <div class="col-lg-2 admin-sidebar">
        <div class=" sidebar-nav">
        <ul class="nav nav-list">
            <li><a onclick="showRequest(event, 'all')">All Requests</a></li>
            <li><a onclick="showRequest(event, 'pending')">Pending Requests</a></li>
            <li><a onclick="showRequest(event, 'approved')">Approved Requests</a></li>
            <li><a onclick="showRequest(event, 'rejected')">Rejected Requests</a></li>
            <hr>
            <li><%= link_to 'Upload books', new_book_path %></li>
            <li><%= link_to 'See books', '#' %></li>
            <hr>
            <li><%= link_to 'Edit user details', edit_user_registration_path(current_user), id:"droplist" %></li>
            <li><%= link_to "Delete account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, id: "droplist" %></li>
        </ul>
        </div>
    </div>
    
    <div class= "col-lg-8 col-lg-offset-3 container">
        <h3 class="center">Dashboard</h3>

        <div id="all" class="tabcontent">
            <table class="table table-striped">
                <tr>
                    <% count = 0 %>
                    <th>#</th>
                    <th>User Name</th>
                    <th>Book title</th>
                    <th>User Contact</th>
                    <th>Requested At</th>
                    <th>Status</th>
                    <th>Approve</th>
                    <th>Rejecte</th>
                </tr>
                <% @requests.each do |request| %>
                    <tr>
                        <td><strong> <%= count = count + 1 %> </strong></td>
                        <td><%= request.user.full_name%></td>
                        <td><%= request.book.title %></td>
                        <td><%= request.user.contact_number %></td>
                        <td><%= datetime_format(request.created_at)%></td>
                        <% if request.approved? %>
                            <td class="alert-success"><%= request.status %></td>
                        <% elsif request.rejected? %>
                            <td class="alert-danger"><%= request.status %></td>
                        <% else %>
                            <td class="alert-info"><%= request.status %></td>
                        <% end %>
                        <td class="alert-success"style="text-align: center" >
                            <%= link_to approve_path(request), method: :put do %>
                                <i class="fa fa-check alert-success" ></i>
                            <% end %>
                        </td>
                        <td class="alert-danger" style="text-align: center">
                            <%= link_to reject_path(request), method: :put do %>
                                <i class="fa fa-times alert-danger"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        
        <div id="pending" class="tabcontent">
            <table class="table table-striped">
                <tr>
                    <% count = 0 %>
                    <th>#</th>
                    <th>User Name</th>
                    <th>Book title</th>
                    <th>User Contact</th>
                    <th>Requested At</th>
                    <th>Status</th>
                    <th>Approve</th>
                    <th>Rejecte</th>
                </tr>
                <% @requests.each do |request| %>
                    <% if request.pending? %>
                        <tr>
                            <td><strong> <%= count = count + 1 %> </strong></td>
                            <td><%= request.user.full_name%></td>
                            <td><%= request.book.title %></td>
                            <td><%= request.user.contact_number %></td>
                            <td><%= datetime_format(request.created_at) %></td>
                            <td class="alert-info"><%= request.status %></td>
                            <td class="alert-success" style="text-align: center">
                                <%= link_to approve_path(request), method: :put do %>
                                    <i class="fa fa-check alert-success"></i>
                                <% end %>
                            </td>
                            <td class="alert-danger" style="text-align: center">
                                <%= link_to reject_path(request), method: :put do %>
                                    <i class="fa fa-times alert-danger"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
            </table>
        </div>

        <div id="approved" class="tabcontent">
            <table class="table table-striped">
                <tr>
                    <% count = 0 %>
                    <th>#</th>
                    <th>User Name</th>
                    <th>Book title</th>
                    <th>User Contact</th>
                    <th>Requested At</th>
                    <th>status</th>
                </tr>
                <% @requests.each do |request| %>
                    <% if request.approved? %>
                        <tr>
                            <td><strong> <%= count = count + 1 %> </strong></td>
                            <td><%= request.user.full_name%></td>
                            <td><%= request.book.title %></td>
                            <td><%= request.user.contact_number %></td>
                            <td><%= datetime_format(request.created_at) %></td>
                            <td class="alert-success"><%= request.status %></td>
                        </tr>
                    <% end %>
                <% end %>
            </table>
        </div>

        <div id="rejected" class="tabcontent">
            <table class="table table-striped">
                <tr>
                    <% count = 0 %>
                    <th>#</th>
                    <th>User Name</th>
                    <th>Book title</th>
                    <th>User Contact</th>
                    <th>Requested At</th>
                    <th>status</th>
                </tr>
                <% @requests.each do |request| %>
                    <% if request.rejected? %>
                        <tr>
                            <td><strong> <%= count = count + 1 %> </strong></td>
                            <td><%= request.user.full_name%></td>
                            <td><%= request.book.title %></td>
                            <td><%= request.user.contact_number %></td>
                            <td><%= datetime_format(request.created_at) %></td>
                            <td class="alert-danger"><%= request.status %></td>
                        </tr>
                    <% end %>
                <% end %>
            </table>
        </div>
    </div>
</div>
