<!--
<p id="notice"><%= notice %></p>
-->

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="https://www.brantfordlibrary.ca/en/resourcesGeneral/Homepage-Banner/Library-glass-word.jpg" style=" width:100%; height:30rem;background-size: auto;">
        <div class="carousel-caption">
          <h3>Best Ever E-LIBRARY</h3>
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" style="object-fit: cover;width:100%; height:30rem;">
      </div>

      <div class="item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRhct9ZGpOhO9eT4OeiCWgqTVxQbFg-obj3_w&usqp=CAU" style="width:100%; height:30rem; ">
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    </a>
  </div>

<h1 class="center">Books</h1>

<div class="container">
<% @books.each do |book| %>
  <div class="col-sm-6 col-md-4"style="padding:0rem;">
    <div class="thumbnail home-page-touchup">
      
      <!--carosel--->
      <% if book.images.attached? %>
        <% if book.images.count > 1 %>

            <div id="<%= book.id %>" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner">

                <div class="item active">
                  <%= image_tag(book.images.first, style:"height:24.1rem; width:100%")%>
                </div>
                <% (1...book.images.count).each do |image| %>
                  <div class="item">
                    <%= image_tag(book.images[image], style:"height:24.1rem; width:100%")%>
                  </div>
                <% end %>
              </div>
              
              <a class="left carousel-control" href="#<%= book.id %>" data-slide="prev">
                <span class="fa fa-angle-left glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#<%= book.id %>" data-slide="next">
                <span class="fa fa-angle-right glyphicon-chevron-right"></span>
              </a>
          </div>

        <% else %>
          <%(0...book.images.count).each do |image| %>
            <%= image_tag(book.images[image], style:"height:24.1rem; width:100%")%>
          <% end %>
        <% end %>
      <% else %>
        <div class ="col-xs-12 col-md-12 "style= "width:100%; height:24.1rem; background-color:#f4f4f4">
            <div class="no-image-massage"> 
                No Image Available
            </div>
        </div>
      <% end %>
      
      
      <div class="caption">
        <h4>
          <small>TITLE:</small> <%= book.title %><br>
          <small>ISBN:</small> <%= book.isbn %> <br> 
          <small>AUTHER:</small> <%= book.auther %> 
        </h4>
        <p><%= truncate(book.description, :ommision => ".... Read More", :length => 150) %></p>
        
        <p>
          <%= link_to 'show', book_path(book), class:"btn btn-sm btn-primary" %>
          <%if user_signed_in? %>
              <%= link_to 'request', req_path(:book_id => book.id), method: :post, class:"btn btn-sm btn-default " %>
          <% end %>
          <button class="btn btn-sm bt  n-success" type="button">
            Quantity <span class="badge"> <%= book.quantity %> </span>
          </button> 
        </p>
        <small>    
            added to librery: <%= time_ago_in_words(book.created_at)%> ago
        </small>
      </div>
    </div>
  </div>
<% end %>
</div>


<div class="jumbotron">
  <div class="container">
    <h3>Letest books</h3>
    <div style="width: 100%; height:300px; overflow-x: auto; overflow-y: hidden;">
        <div style="width: 6000px; display:flex;">
          <% @popular_books.each do |book| %>
              <div class="thumbnail col-lg-12 home-page-touchup" style="height:100%;"> 
                <div class="col-md-6" style="padding:0;">
                  <% if book.images.attached? %>
                    <% if book.images.count > 1 %>

                        <div id="<%= book.id %>1" class="carousel slide" data-ride="carousel">

                          <div class="carousel-inner">

                            <div class="item active">
                              <%= image_tag(book.images.first, style:"height:24.1rem; width:100%")%>
                            </div>
                            <% (1...book.images.count).each do |image| %>
                              <div class="item">
                                <%= image_tag(book.images[image], style:"height:24.1rem; width:100%")%>
                              </div>
                            <% end %>
                          </div>
                          
                          <a class="left carousel-control" href="#<%= book.id %>1" data-slide="prev"></a>
                          <a class="right carousel-control" href="#<%= book.id %>1" data-slide="next"></a>
                      </div>

                    <% else %>
                      <%(0...book.images.count).each do |image| %>
                        <%= image_tag(book.images[image], style:"height:24.1rem; width:100%")%>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class ="col-xs-12 col-md-12 "style= "width:100%; height:24.1rem; background-color:#f4f4f4">
                        <div class="no-image-massage"> 
                            No Image Available
                        </div>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-6">
                    <h4>
                      <small>TITLE:</small> <%= book.title %><br>
                      <small>ISBN:</small> <%= book.isbn %> <br> 
                    </h4>
                    <p><%= truncate(book.description, :ommision => ".... Read More", :length => 70) %></p>
                    
                    <p>
                      <%= link_to 'show', book_path(book), class:"btn btn-sm btn-primary" %>
                      <%if user_signed_in? %>
                        <% if current_user.admin %>
                          <%= link_to 'All request', requests_path(:book_id => book.id), class:"btn btn-sm btn-default " %>
                        <% else %>
                          <%= link_to 'request', req_path(:book_id => book.id), method: :post, class:"btn btn-sm btn-default " %>
                        <% end %>
                      <% end %>
                      <button class="btn btn-sm bt  n-success" type="button">
                        Quantity <span class="badge"> <%= book.quantity %> </span>
                      </button> 
                    </p>
                    <small>    
                        added to librery: <%= time_ago_in_words(book.created_at)%> ago
                    </small>
                </div>
              </div>
          <% end %>
        </div>
    </div><!--/.well -->
  </div>
</div>
