<!--
<p id="notice"><%= notice %></p>
-->
<h1 class="center">Books</h1>

<div class="col-lg-3">
  <div class="well sidebar-nav">
  <h3>Trending books</h3>
  <ul class="nav nav-list">
      <% @popular_books.each do |book| %>
        <li><%= link_to book.title, book %></li>
      <% end %>
  </ul>
  </div><!--/.well -->
</div><!--/span-->

<div class="col-lg-9">
<% @books.each do |book| %>
  <div class="col-sm-6 col-md-4 "style="padding:0rem;">
    <div class="thumbnail home-page-touchup">
      
      <% if book.images.attached? %>
        <div style="display:flex; overflow: auto; height:24.1rem;">
          <%(0...book.images.count).each do |image| %>
            <%= image_tag(book.images[image], style:"height:24.1rem; width:100%")%>
          <% end %>
        </div>
      <% else %>
          <div class ="col-xs-12 col-md-12 "style= "width:100%; height:24.1rem; background-color:#f4f4f4">
              <div class="no-image-massage"> 
                  No Image Available
              </div>
          </div>
      <% end %>
      
      <div class="caption">
        <h4>
          <small>TITLE:</small> <%= book.title %><br>
          <small>ISBN:</small> <%= book.isbn %> <br> 
        </h4>
        <p><%= truncate(book.description, :ommision => ".... Read More", :length => 150) %></p>
        
        <p>
          <%= link_to 'show', book_path(book), class:"btn btn-sm btn-primary" %>
          <%= link_to 'request', req_path(:book_id => book.id), method: :post, class:"btn btn-sm btn-default " %>
          <button class="btn btn-sm bt  n-success" type="button">
            Quantity <span class="badge"> <%= book.quantity %> </span>
          </button> 
        </p>
        <%= link_to 'All request', requests_path(:book_id => book.id)%>
        <small>    
            added to librery: <%= time_ago_in_words(book.created_at)%> ago
        </small>
      </div>
    </div>
  </div>
<% end %>
</div>
