<!--
<p id="notice"><%= notice %></p>
-->
<div class="container">
  <div class="row thumbnail" style="padding: 0px; margin-top:75px">
      <div class ="col-xs-12 col-md-7 "style="padding: 0px;">
          <% if @book.images.attached? %>
            <% if @book.images.count > 1 %>
                <div id="<%= @book.id %>1" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <%= image_tag(@book.images.first, style:"height:40rem; width:100%")%>
                    </div>
                    <% (1...@book.images.count).each do |image| %>
                      <div class="item">
                        <%= image_tag(@book.images[image], style:"height:40rem; width:100%")%>
                      </div>
                    <% end %>
                  </div>
                  
                  <a class="left carousel-control" href="#<%= @book.id %>1" data-slide="prev">
                    <span class="fa fa-angle-left glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#<%= @book.id %>1" data-slide="next">
                    <span class="fa fa-angle-right glyphicon-chevron-right"></span>
                  </a>
              </div>

            <% else %>
              <%(0...@book.images.count).each do |image| %>
                <%= image_tag(@book.images[image], style:"height:40rem; width:100%")%>
              <% end %>
            <% end %>
          <% else %>
            <div class ="col-xs-12 col-md-12 "style= "width:100%; height:40rem; background-color:#f4f4f4">
                <div class="no-image-massage"> 
                    No Image Available
                </div>
            </div>
          <% end %>
      </div>
      <div class= "col-xs-12 col-md-5 ">
          
          <h3> ISBN: <%= @book.isbn %></h3>
          <h3>TITLE: <%= @book.title %><h3>
          <h4>Description</h4>
          <p><%= @book.description%></p>
          <br>
          
          <% if user_signed_in? && current_user.admin %>
              <%= link_to 'Edit Details', edit_book_path(@book), class:"btn btn-sm btn-primary " %>
              <%= link_to 'Delete book', book_path(@book), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-sm btn-danger" %>
            
              <%= link_to 'Back', :back, class:"btn btn-sm btn-default " %>
          <% end %>

          <% if @book.user != current_user %>
              <%= link_to 'Home', books_path, class:"btn btn-sm btn-success" %>
              
              <%= link_to 'Back', :back, class:"btn btn-sm btn-default " %>
          <% end %>
          
          <button class="btn btn-sm bt  n-success" type="button">
            Quantity <span class="badge"> <%= @book.quantity %> </span>
          </button> 
          <br>
          <small>last updated: <%= time_ago_in_words(@book.updated_at) %> ago </small>
          <small> 
              <br>
                  [ Auther:<strong> <%= @book.auther %> </strong> ]   
              <br>     
          </small>
      </div>
  </div>
</div>